# .github/workflows/ci.yml
name: CI Tests

on:
  push:
    branches:
      - main
      - testing_coverage_update
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.12]

    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install dev dependencies
        run: uv sync --dev

      - name: Install project
        run: uv pip install -e .

      - name: Run tests
        run: uv run pytest --cov=plotsrv --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}